<div class="container-fluid">
  <hr>
      <form [formGroup]="htmlComicData" enctype="multipart/form-data">
        <div class="form-group">
          <input type="text" autocomplete="title" class="form-control form-control-sm"  formControlName="title" placeholder="Enter Comics title" >         
        </div>
        <div class="form-group">
          <input type="text" autocomplete="name" class="form-control form-control-sm" formControlName="author" placeholder="Enter comic author name">
        </div>
        <br>
        <div class="form-group">
          <input type="file" (change)="handleFileUploadEvent($event)" multiple accept="image/*">
        </div>
        </form>
    </div>
<br>
<div class="card" *ngFor="let element of uploadComicImages">
  <div data-toggle="modal" data-target="#myModal" (click)="carryImageToModal(element)" > {{element.name}} </div>
</div>

<br><hr>
<button type="submit" (click)="submitComic($event)"> Submit Comic </button>

<button type="submit" (click)="test($event)" > Test </button>



<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
          <form [formGroup]="htmlPanelData">
            <div class="form-group">
                <label for="orderNo"> Order No.</label>
                <input type="text" class="form-control form-control-sm" formControlName="orderNo">
            </div>
            <div class="form-group">
              <label for="expression"> Expression </label>
                <input type="text" class="form-control form-control-sm" formControlName="expressions">
            </div>
          </form>
          <button type="submit" (click)="panelData($event)"> Publish </button>
        </div>
  
    </div>
  </div>

